* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #32383d !important;
}

.cardHighlight {
  min-height: 100%;
}

.navbar {
  padding: 0 !important;
  background-color: #f48f17;
  height: 50px;
  top: 0px;
}

.nav-container {
  background-color: #f48f17 !important;
  z-index: 1;
}

.navbar-brand {
  color: #32383d !important;
  font-weight: bold !important;
  margin-right: 2rem !important;
}

.nav-link {
  color: rgba(255, 255, 255, 0.85) !important;
  font-size: 16px;
  font-weight: 600 !important;
}

.nav-link:hover {
  color: white !important;
}

.navbar-toggler {
  border: none !important;
  filter: invert(1);
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --primary-color: #fff;
  --secondary-color: #f48f17;
 }

.page-content {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1024px;
  margin: 100px auto;
}

@media (min-width: 600px) {
  .page-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 800px) {
  .page-content {
    grid-template-columns: repeat(3, 1fr);
  }
}

.cardP {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  border: none !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
  padding: 0px 4px;
}

@media (min-width: 600px) {
  .cardP {
    height: 200px;
  }
}

.cardP:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}

.cardP:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.320) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.540) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.790) 100%);
  transform: translatey(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}

.cardP:nth-child(1):before {
  background: url("./images/acoustic.jpg");
  background-size: cover; 
  -webkit-background-size: cover; 
  -moz-background-size: cover;  
  -o-background-size: cover; 
  margin: 0; 
  padding: 0; 
  overflow: hidden;
}

.cardP:nth-child(2):before {
  background: url("./images/electric.jpg");
  background-size: cover; 
  -webkit-background-size: cover; 
  -moz-background-size: cover;  
  -o-background-size: cover; 
  margin: 0;
  padding: 0; 
  overflow: hidden;
}

.cardP:nth-child(3):before {
  background: url("./images/bass.jpg");
  background-size: cover; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; 
  margin: 0; 
  padding: 0; 
  overflow: hidden;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
}

.content > * + * {
  margin-top: 1rem;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
  color: white;
  text-shadow: 0 0 10px #333, 0 0 20px #333, 0 0 30px #333, 0 0 40px #333, 0 0 50px #333;
}

@media (hover: hover) and (min-width: 600px) {
  .cardP:after {
    transform: translatey(0);
  }
  .content {
    transform: translatey(calc(100% - 4.5rem));
  }
  .content > *:not(.title) {
    opacity: 0;
    transform: translatey(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }
  .cardP:hover, .cardP:focus-within {
    align-items: center;
  }
  .cardP:hover:before, .cardP:focus-within:before {
    transform: translatey(-4%);
  }
  .cardP:hover:after, .cardP:focus-within:after {
    transform: translatey(-50%);
  }
  .cardP:hover .content, .cardP:focus-within .content {
    transform: translatey(0);
  }
  .cardP:hover .content > *:not(.title), .cardP:focus-within .content > *:not(.title) {
    opacity: 1;
    transform: translatey(0);
    transition-delay: calc(var(--d) / 8);
  }
  .cardP:focus-within:before, .cardP:focus-within:after, .cardP:focus-within .content, .cardP:focus-within .content > *:not(.title) {
  transition-duration: 0s;
  }
}

.btn-card {
  background: var(--secondary-color) !important;
  color: #fff !important;
  padding: 0.5rem 1.3rem !important;
  border: none !important;
  font-size: 1.1rem !important;
  border-radius: 30px !important;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.btn-card:hover {
  background: var(--primary-color) !important;
  color: #333 !important;
}

.btn-home {
  background: #f48f17 !important;
  color: #fff !important;
  padding: 0.5rem 1.3rem !important;
  border: none !important;
  font-size: 1.1rem !important;
  border-radius: 30px !important;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.btn-home:hover {
  background: #fff !important;
  color: #32383d !important;
}

.circle {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 400px;
  width: 400px;
  background: #f48f17;
  filter: blur(250px);
  z-index: -1;
}

.circle2 {
  position: fixed;
  top: 130px;
  left: 250px;
  height: 400px;
  width: 400px;
  background: #f48f17;
  filter: blur(250px);
  z-index: -1;
}

.card {
  display: inline-block !important;
  margin: 1rem 1rem !important;
  background-color: #f48f17 !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}

.btn-prod {
  background: #32383d !important;
  color: #fff !important;
  padding: 0.5rem 1.3rem !important;
  border: none !important;
  font-size: 1.1rem !important;
  border-radius: 30px !important;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.btn-prod:hover {
  background: #fff !important;
  color: #32383d !important;
}

.cartTable {
  margin-top: 2rem !important;
}

.registerForm, .contactForm, .loginForm {
  margin-top: 8rem !important;
}

.registerForm input, .contactForm input, .contactForm textarea, .loginForm input{
  background-color: #3A3B3C !important;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50px !important;
  color: white !important;
}

.img-prod {
  width: -webkit-fill-available;
}

.admin-table td:nth-child(4) {
  text-align: center;
}

.admin-table td {
  vertical-align: middle;
}

.img-prod-table, .desc-prod-table {
  width: 120px !important;
}

.card-title h4, .card-title {
  margin-bottom: 0 !important;
  text-shadow: 2px 3px 3px rgba(0,0,0,.3);
}

.bg-prod {
  background: rgba(0, 0, 0, 0.3);
}

.brand-logo {
  width: 80px;
  filter: invert(1) drop-shadow(1.95px 1.95px 2.6px rgba(0, 0, 0, 0.15));
}

.home-guitar {
  position: relative;
}

.home-guitar::before {
  content: '';
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  bottom: -10%;
  background: #f48f17;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  z-index: -1;
}

.home-guitar img {
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s;
}

@media (max-width: 767px) {

  .registerForm, .contactForm, .loginForm {
    margin-top: 0rem !important;
  }
  
}

@media (max-width: 320px) {

  .navbar-brand {
    padding: 0 !important;
  }
  
}